@use "../abstracts/" as *;

.Article {
	&__img {
		object-fit: contain;
		width: 100%;
		@media #{$tablet} {
			aspect-ratio: 16 / 9;
		}
	}

	&__p {
		margin: 1rem auto;

		@media #{$tablet} {
			margin: 2rem auto;
		}
	}
}
