@use "../abstracts/" as *;

.Galleri {
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	@media #{$tablet} {
		grid-template-columns: repeat(3, 1fr);
	}

	&__item {
		height: 200px;
		overflow: hidden;
		@media #{$tablet} {
			height: 230px;
		}
	}

	&__img {
		object-fit: cover;
		// aspect-ratio: 4 / 3;
		width: 100%;
		height: 100%;
	}
}
